<br>

# Introdução

In [1]:
import os
import sys
import pandas as pd
from datetime import date

In [2]:
print('Read "ibge" from Jupyter')
mod_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'src'))
sys.path.append(mod_path)
from sisagua.ibge import *

Read "ibge" from Jupyter

In [3]:
try:
    print('Read "ibge" from Python File')
    #from ibge import *
    
    
    def adjust_cod_ibge(cod_ibge):
        if len(str(cod_ibge)) == 6:
            print('Padrão IBGE antigo, com código de 6 dígitos.\nSem correções necessárias.')
            cod_ibge = int(cod_ibge)
            print('Código IBGE: {}'.format(cod_ibge))

        elif len(str(cod_ibge)) == 7:
            print('Padrão IBGE novo, com código de 7 dígitos.\nCorreções necessárias aplicadas!')
            cod_ibge = cod_ibge[0:6]
            cod_ibge = int(cod_ibge)
            print('Código IBGE: {}'.format(cod_ibge))

        else:
            print('Padrão Diferente!\nDesenvolver correção!')

        return cod_ibge


    
except:
    pass

Read "ibge" from Python File

In [4]:
try:
    print('Read "paths" from Jupyter')
    from paths import *
    
except:
    print('Não deu pra importar paths')

Read "paths" from Jupyter

In [5]:
# Parameters
estado = 'SP'
cod_ibge = '3548906' # São Carlos
cod_ibge = '3526902' # Limeira

# Adjust Code
cod_ibge_adjusted = adjust_cod_ibge(cod_ibge)

# Path name
city_path = '{}_{}'.format(estado, cod_ibge_adjusted)
city_path

Padrão IBGE novo, com código de 7 dígitos.
Correções necessárias aplicadas!
Código IBGE: 352690

'SP_352690'

<br>

# Lê Dados da Vigilância

In [6]:
# Read Table
print('Read "data" from Jupyter')
df = pd.read_excel(
    os.path.join(output_path_cidades, city_path, 'vigilancia', 'vigilancia_parametros_basicos.xlsx')
)

Read "data" from Jupyter

In [7]:
try:
    print('Read "data" from Python File')
    output_path_cidades = os.path.abspath(os.path.join(os.path.dirname(__file__), '..', '..', 'data', 'output', 'cidades'))
    df = pd.read_excel(
        os.path.join(output_path_cidades, city_path, 'vigilancia', 'vigilancia_parametros_basicos.xlsx')
    )
except:
    pass

Read "data" from Python File

In [8]:
# Results
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15127 entries, 0 to 15126
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Região Geográfica                  15127 non-null  object
 1   Regional De Saúde                  15127 non-null  object
 2   Município                          15127 non-null  object
 3   Número Da Amostra                  15127 non-null  int64
 4   Motivo Da Coleta                   15127 non-null  object
 5   Tipo Da Forma De Abastecimento     15127 non-null  object
 6   Código Forma De Abastecimento      15127 non-null  object
 7   Nome Da Forma De Abastecimento     15127 non-null  object
 8   Tipo Da Instituição                15127 non-null  object
 9   Sigla Da Instituição               0 non-null      float64
 10  Nome Da Instituição                15127 non-null  object
 11  Cnpj Da Instituição                15127 non-null  float64
 12  Nome Do Escritório Regional/Local  0 non-null      float64
 13  Cnpj Do Escritório Regional/Local  0 non-null      float64
 14  Nome Da Eta/Uta                    0 non-null      float64
 15  Ano                                15127 non-null  int64
 16  Mês                                15127 non-null  int64
 17  Data Da Coleta                     15127 non-null  object
 18  Data Do Laudo                      15127 non-null  object
 19  Data De Registro No Sisagua        15127 non-null  object
 20  Procedência Da Coleta              15127 non-null  object
 21  Ponto De Coleta                    15127 non-null  object
 22  Descrição Do Local                 15115 non-null  object
 23  Zona                               15127 non-null  object
 24  Categoria Área                     15127 non-null  object
 25  Área                               15127 non-null  object
 26  Tipo Do Local                      13067 non-null  object
 27  Local                              13067 non-null  object
 28  Latitude                           0 non-null      float64
 29  Longitude                          0 non-null      float64
 30  Parâmetro (Parâmetros Básicos)     15127 non-null  object
 31  Análise Realizada                  4821 non-null   object
 32  Resultado                          15127 non-null  object
 33  Providência                        15 non-null     object
 34  Uf                                 15127 non-null  object
 35  Código Ibge                        15127 non-null  int64
dtypes: float64(7), int64(4), object(25)
memory usage: 4.2+ MB
None

In [9]:
list_cols = ['Região Geográfica', 'Regional De Saúde', 'Município']
df[list_cols].drop_duplicates()

  Região Geográfica     Regional De Saúde Município
0           SUDESTE  GVS XX -  PIRACICABA   LIMEIRA

In [10]:
list_cols = [
    'Código Forma De Abastecimento',
    'Tipo Da Forma De Abastecimento',
    'Nome Da Forma De Abastecimento',
]
df[list_cols].drop_duplicates()

,Código Forma De Abastecimento,Tipo Da Forma De Abastecimento,Nome Da Forma De Abastecimento
0,S352690000003,SAA,ESTACAO DE TRATAMENTO DE AGUA DE LIMEIRA
3,S352690000004,SAA,ETA POCO TATU
126,S352690000002,SAA,ETA POCO SAO JOAO

In [11]:
list_cols = [
    'Tipo Da Instituição',
    'Sigla Da Instituição',
    'Nome Da Instituição',
    'Cnpj Da Instituição',
    'Nome Do Escritório Regional/Local',
    'Cnpj Do Escritório Regional/Local'
]
df[list_cols].drop_duplicates()

,Tipo Da Instituição,Sigla Da Instituição,Nome Da Instituição,Cnpj Da Instituição,Nome Do Escritório Regional/Local,Cnpj Do Escritório Regional/Local
0,Serviço Municipal e outros,NaN,BRK AMBIENTAL LIMEIRA SA,5.859000e+11,NaN,NaN

In [12]:
list_cols = [
    'Procedência Da Coleta',
    'Ponto De Coleta',
    #'Área',
    #'Descrição Do Local',
    'Zona',
    'Categoria Área',    
]
df[list_cols].drop_duplicates()

,Procedência Da Coleta,Ponto De Coleta,Zona,Categoria Área
0,SISTEMA DE DISTRIBUIÇÃO,Cavalete/Hidrômetro,Urbana,Bairro
3,SISTEMA DE DISTRIBUIÇÃO,Cavalete/Hidrômetro,Rural,Povoado/Lugarejo
26,SISTEMA DE DISTRIBUIÇÃO,Torneira antes da reservação,Urbana,Bairro
126,SISTEMA DE DISTRIBUIÇÃO,Cavalete/Hidrômetro,Rural,Núcleo/Propriedade Rural
1480,SISTEMA DE DISTRIBUIÇÃO,Torneira antes da reservação,Rural,Núcleo/Propriedade Rural
1754,SISTEMA DE DISTRIBUIÇÃO,Reservatório de distribuição,Urbana,Bairro
12788,SISTEMA DE DISTRIBUIÇÃO,Reservatório de distribuição,Rural,Núcleo/Propriedade Rural

In [13]:
list_cols = [    
    'Zona',
    'Categoria Área',
    'Tipo Do Local',
    'Área',
    'Descrição Do Local',
    'Local',
]
df[list_cols].drop_duplicates()

,Zona,Categoria Área,Tipo Do Local,Área,Descrição Do Local,Local
0,Urbana,Bairro,NaN,PARQUE NOSSA SENHORA DAS DORES,BASE COMUNITÁRIA DE SEGURANÇA DA PM- AV CARLOS...,NaN
1,Urbana,Bairro,NaN,JARDIM IBIRAPUERA,"EMEIEF JOSÉ ROBERTO BRAZ- RUA PAULO GIORGETTI,...",NaN
2,Urbana,Bairro,NaN,PORTAL DE SAO CLEMENTE,"VIA GUILHERME DIBBERN, 6000",NaN
3,Rural,Povoado/Lugarejo,NaN,BAIRRO DOS LOPES,"AV. ANTONIO SÔNEGO, SN (EMEI BAIRRO DOS LOPES)",NaN
4,Urbana,Bairro,NaN,JARDIM ERNESTO KUHL,"RUA CHICO MENDES, 85",NaN
...,...,...,...,...,...,...
13215,Urbana,Bairro,Edifício/Prédio,CENTRO,PRACA TOLEDO DE BARROS SN- BAIRRO - CENTRO,TEATRO VITORIA
13236,Urbana,Bairro,Estabelecimento de ensino,JARDIM RESIDENCIAL ANTONIO SIMONETTI,RUA OCTAVIO RIBEIRO 223,EMEIEF PROFA EVANGELINA MAURO
13527,Urbana,Bairro,Estabelecimento de saúde,PARQUE HIPOLYTO,AV ARLINDA ABREU RIBEIRO 1300 PARQUE HIPOLYTO,CSF PARQUE HIPOLITO
13604,Urbana,Bairro,Condomínio,PARQUE RESIDENCIAL ROLAND,AV AUGUSTO ROLAND 241 PQ RES ROLAND I,CONDOMINIO RESIDENCIAL ROLAND I
13790,Urbana,Bairro,Condomínio,JARDIM COLINAS DE SAO JOAO,VIA JURANDYR PAIXAO CAMPOS FREIRE 500,CONDOMINIO PARQUE DOS SABIAS

In [14]:
list_cols = [
    'Latitude',
    'Longitude'
]
df[list_cols].drop_duplicates()

   Latitude  Longitude
0       NaN        NaN

In [15]:
list(df.columns)

['Região Geográfica',
 'Regional De Saúde',
 'Município',
 'Número Da Amostra',
 'Motivo Da Coleta',
 'Tipo Da Forma De Abastecimento',
 'Código Forma De Abastecimento',
 'Nome Da Forma De Abastecimento',
 'Tipo Da Instituição',
 'Sigla Da Instituição',
 'Nome Da Instituição',
 'Cnpj Da Instituição',
 'Nome Do Escritório Regional/Local',
 'Cnpj Do Escritório Regional/Local',
 'Nome Da Eta/Uta',
 'Ano',
 'Mês',
 'Data Da Coleta',
 'Data Do Laudo',
 'Data De Registro No Sisagua',
 'Procedência Da Coleta',
 'Ponto De Coleta',
 'Descrição Do Local',
 'Zona',
 'Categoria Área',
 'Área',
 'Tipo Do Local',
 'Local',
 'Latitude',
 'Longitude',
 'Parâmetro (Parâmetros Básicos)',
 'Análise Realizada',
 'Resultado',
 'Providência',
 'Uf',
 'Código Ibge']

In [16]:
list_cols = [
    'Número Da Amostra',
    'Motivo Da Coleta',    
    'Parâmetro (Parâmetros Básicos)',
    'Análise Realizada',
    'Resultado',
    'Providência',
]
df[list_cols].drop_duplicates()

,Número Da Amostra,Motivo Da Coleta,Parâmetro (Parâmetros Básicos),Análise Realizada,Resultado,Providência
0,29262014,Rotina,Cloro residual livre (mg/L),EM_CAMPO,"0,50",NaN
1,23652014,Rotina,pH,NaN,"7,6",NaN
2,21092014,Rotina,Cor (uH),NaN,7,NaN
3,22502014,Rotina,Cor (uH),NaN,5,NaN
4,352014,Rotina,Cloro residual livre (mg/L),EM_CAMPO,"0,9",NaN
...,...,...,...,...,...,...
15122,212005000119,Rotina,Coliformes totais,NaN,AUSENTE,NaN
15123,212005000364,Rotina,Escherichia coli,NaN,AUSENTE,NaN
15124,212005000345,Rotina,Coliformes totais,NaN,AUSENTE,NaN
15125,212005000135,Rotina,Coliformes totais,NaN,AUSENTE,NaN
15126,212005000398,Rotina,Escherichia coli,NaN,AUSENTE,NaN

In [17]:
set(df['Análise Realizada'])

{'EM_CAMPO', 'EM_LABORATORIO', nan}

In [18]:
set(df['Parâmetro (Parâmetros Básicos)'])

{'Cloro residual livre (mg/L)',
 'Coliformes totais',
 'Cor (uH)',
 'Escherichia coli',
 'Fluoreto (mg/L)',
 'Turbidez (uT)',
 'pH'}

<br>

## Seleciona Parâmetros

In [19]:
set(df['Parâmetro (Parâmetros Básicos)'])

{'Cloro residual livre (mg/L)',
 'Coliformes totais',
 'Cor (uH)',
 'Escherichia coli',
 'Fluoreto (mg/L)',
 'Turbidez (uT)',
 'pH'}

In [20]:
# Select Parameters
df = df[df['Parâmetro (Parâmetros Básicos)'].str.contains('Cloro')]

In [21]:
# Ajusta Resultados
df['Resultado'] = df['Resultado'].astype(str).str.replace(',','.')
df.loc['Resultado'] = pd.to_numeric(df['Resultado'], errors='coerce')
df['Resultado']
df.head()

,Região Geográfica,Regional De Saúde,Município,Número Da Amostra,Motivo Da Coleta,Tipo Da Forma De Abastecimento,Código Forma De Abastecimento,Nome Da Forma De Abastecimento,Tipo Da Instituição,Sigla Da Instituição,...,Tipo Do Local,Local,Latitude,Longitude,Parâmetro (Parâmetros Básicos),Análise Realizada,Resultado,Providência,Uf,Código Ibge
0,SUDESTE,GVS XX - PIRACICABA,LIMEIRA,29262014.0,Rotina,SAA,S352690000003,ESTACAO DE TRATAMENTO DE AGUA DE LIMEIRA,Serviço Municipal e outros,NaN,...,NaN,NaN,NaN,NaN,Cloro residual livre (mg/L),EM_CAMPO,0.50,NaN,SP,352690.0
4,SUDESTE,GVS XX - PIRACICABA,LIMEIRA,352014.0,Rotina,SAA,S352690000003,ESTACAO DE TRATAMENTO DE AGUA DE LIMEIRA,Serviço Municipal e outros,NaN,...,NaN,NaN,NaN,NaN,Cloro residual livre (mg/L),EM_CAMPO,0.9,NaN,SP,352690.0
7,SUDESTE,GVS XX - PIRACICABA,LIMEIRA,21062014.0,Rotina,SAA,S352690000003,ESTACAO DE TRATAMENTO DE AGUA DE LIMEIRA,Serviço Municipal e outros,NaN,...,NaN,NaN,NaN,NaN,Cloro residual livre (mg/L),EM_CAMPO,0.85,NaN,SP,352690.0
10,SUDESTE,GVS XX - PIRACICABA,LIMEIRA,21012014.0,Rotina,SAA,S352690000003,ESTACAO DE TRATAMENTO DE AGUA DE LIMEIRA,Serviço Municipal e outros,NaN,...,NaN,NaN,NaN,NaN,Cloro residual livre (mg/L),EM_CAMPO,0.46,NaN,SP,352690.0
11,SUDESTE,GVS XX - PIRACICABA,LIMEIRA,29252014.0,Rotina,SAA,S352690000003,ESTACAO DE TRATAMENTO DE AGUA DE LIMEIRA,Serviço Municipal e outros,NaN,...,NaN,NaN,NaN,NaN,Cloro residual livre (mg/L),EM_CAMPO,0.49,NaN,SP,352690.0

In [22]:
# Adjust Dates
df['Data Da Coleta'] = pd.to_datetime(df['Data Da Coleta'])
df['Data Do Laudo'] = pd.to_datetime(df['Data Do Laudo'])
df['Data De Registro No Sisagua'] = pd.to_datetime(df['Data De Registro No Sisagua'])

In [23]:
df.dtypes

Região Geográfica                            object
Regional De Saúde                            object
Município                                    object
Número Da Amostra                           float64
Motivo Da Coleta                             object
Tipo Da Forma De Abastecimento               object
Código Forma De Abastecimento                object
Nome Da Forma De Abastecimento               object
Tipo Da Instituição                          object
Sigla Da Instituição                        float64
Nome Da Instituição                          object
Cnpj Da Instituição                         float64
Nome Do Escritório Regional/Local           float64
Cnpj Do Escritório Regional/Local           float64
Nome Da Eta/Uta                             float64
Ano                                         float64
Mês                                         float64
Data Da Coleta                       datetime64[ns]
Data Do Laudo                        datetime64[ns]
Data De Registro No Sisagua          datetime64[ns]
Procedência Da Coleta                        object
Ponto De Coleta                              object
Descrição Do Local                           object
Zona                                         object
Categoria Área                               object
Área                                         object
Tipo Do Local                                object
Local                                        object
Latitude                                    float64
Longitude                                   float64
Parâmetro (Parâmetros Básicos)               object
Análise Realizada                            object
Resultado                                    object
Providência                                  object
Uf                                           object
Código Ibge                                 float64
dtype: object

In [24]:
list(df.columns)

['Região Geográfica',
 'Regional De Saúde',
 'Município',
 'Número Da Amostra',
 'Motivo Da Coleta',
 'Tipo Da Forma De Abastecimento',
 'Código Forma De Abastecimento',
 'Nome Da Forma De Abastecimento',
 'Tipo Da Instituição',
 'Sigla Da Instituição',
 'Nome Da Instituição',
 'Cnpj Da Instituição',
 'Nome Do Escritório Regional/Local',
 'Cnpj Do Escritório Regional/Local',
 'Nome Da Eta/Uta',
 'Ano',
 'Mês',
 'Data Da Coleta',
 'Data Do Laudo',
 'Data De Registro No Sisagua',
 'Procedência Da Coleta',
 'Ponto De Coleta',
 'Descrição Do Local',
 'Zona',
 'Categoria Área',
 'Área',
 'Tipo Do Local',
 'Local',
 'Latitude',
 'Longitude',
 'Parâmetro (Parâmetros Básicos)',
 'Análise Realizada',
 'Resultado',
 'Providência',
 'Uf',
 'Código Ibge']

<br>

# Dash

In [25]:
import dash
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash

In [26]:
import plotly.express as px
import plotly.graph_objects as go

In [27]:
# Start
app = JupyterDash(__name__)

# 
app.layout = html.Div([
    html.Div([
        html.Div(
            [
                dcc.Dropdown(
                    df['Nome Da Forma De Abastecimento'].unique(),
                    #value='Fertility rate, total (births per woman)',
                    id='xaxis-column'
                ),
            ],
            style={'width': '48%', 'display': 'inline-block'}),
    ]),

    dcc.Graph(id='indicator-graphic'),
])

@app.callback(
    Output('indicator-graphic', 'figure'),
    Input('xaxis-column', 'value'),
)
def update_graph(xaxis_column_name):
    # Create Figure
    fig = go.Figure()
    
    # Add trace
    fig.add_trace(
        go.Scatter(
            x=df['Data Da Coleta'],
            #y=df['Resultado'],
            y=df[df['Nome Da Forma De Abastecimento'] == xaxis_column_name]['Resultado'],
            name='conclusao',
            mode='markers',
            marker={'color': 'red'},
            opacity=0.8,
        )
    )
    
    # Udate
    fig.update_layout(
        title='Cloro Residual na "{}"'.format(xaxis_column_name),
        xaxis_tickformat='%d %b<br>%Y',
        margin={
            'l': 40,
            'b': 40,
            #'t': 40,
            'r': 0
        },
        #dragmode='pan',
        hovermode='x',

    )
    #fig.write_html('ddd.html', config=config)
    return fig

# Run
app.run_server(mode='inline', port=8051)

<br>

# Export

In [28]:
import os
from traitlets.config import Config
from nbconvert import PythonExporter
from nbconvert.preprocessors import TagRemovePreprocessor

In [29]:
input_filename = '12_analysis_basics.ipynb'
input_filepath = os.path.join(os.getcwd(), input_filename)
output_filepath = os.path.abspath(os.path.join(os.getcwd(), '..', 'src', 'sisagua', 'dash_sisagua.py'))

print(output_filepath)

/home/michel/Codes/open_geodata/br_sisagua/src/sisagua/dash_sisagua.py

In [30]:
# Import the exporter
c = Config()
c.TagRemovePreprocessor.enabled=True
c.ClearOutputPreprocessor.enabled=True
c.TemplateExporter.exclude_markdown=True
c.TemplateExporter.exclude_code_cell=False
c.TemplateExporter.exclude_input_prompt=True 
c.TemplateExporter.exclude_output=True
c.TemplateExporter.exclude_raw=True
c.TagRemovePreprocessor.remove_cell_tags = ('remove_cell',)
c.TagRemovePreprocessor.remove_input_tags = ('remove_cell',)
c.TagRemovePreprocessor.remove_all_outputs_tags = ('remove_output',)
c.preprocessors = ['TagRemovePreprocessor']
c.PythonExporter.preprocessors = ['nbconvert.preprocessors.TagRemovePreprocessor']

# Configure and run out exporter
py_exporter = PythonExporter(config=c)
py_exporter.register_preprocessor(TagRemovePreprocessor(config=c), True)

# Configure and run out exporter - returns a tuple - first element with html, second with notebook metadata
body, metadata = PythonExporter(config=c).from_filename(input_filepath)

# Write to output html file
with open(output_filepath,  'w', encoding='utf-8') as f:
    f.write(body)