Art. 36 A água potável deve estar em conformidade com o padrão de substâncias químicas que representam risco à saúde e cianotoxinas, expressos nos Anexos 9 e 10 e demais disposições deste Anexo.

§ 1º No caso de adição de flúor (fluoretação), os valores recomendados para concentração de íon fluoreto devem observar o anexo XXI da Portaria de Consolidação nº 5/2017, não podendo ultrapassar o VMP expresso no Anexo 9 deste Anexo.

§ 2º O VMP de cada cianotoxina referida no Anexo 10 é referente à concentração total, considerando as frações intracelular e extracelular.

In [1]:
import os
import re
import sys
import pprint
import pandas as pd
from scipy.stats import gmean
from dateutil.relativedelta import relativedelta

In [2]:
from paths import *

In [3]:
# Parameters
cod_ibge = '3548906' # São Carlos
cod_ibge = '3526902' # Limeira
cod_ibge = '3501608' # Americana

In [10]:
# Read Table
df_bruta = pd.read_excel(
    os.path.join(output_path, str(cod_ibge), 'dados brutos', 'controle', 'controle_semestral.xlsx')
)

In [11]:
# Filtra Apenas SAAs
df = df_bruta.loc[df_bruta['Tipo Da Forma De Abastecimento'] == 'SAA']

In [12]:
df.info()
list(df.columns)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1706 entries, 0 to 72286
Data columns (total 27 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Região Geográfica                             1706 non-null   object
 1   Regional De Saúde                             1706 non-null   object
 2   Município                                     1706 non-null   object
 3   Tipo Da Instituição                           1706 non-null   object
 4   Sigla Da Instituição                          0 non-null      float64
 5   Nome Da Instituição                           1706 non-null   object
 6   Cnpj Da Instituição                           1706 non-null   float64
 7   Nome Do Escritório Regional/Local             0 non-null      float64
 8   Cnpj Do Escritório Regional/Local             0 non-null      float64
 9   Tipo Da Forma De Abastecimento                1706 non-null   object
 10  Código Forma De Abastecimento                 1706 non-null   object
 11  Nome Da Forma De Abastecimento                1706 non-null   object
 12  Nome Da Eta / Uta                             1369 non-null   object
 13  Ano De Referência                             1706 non-null   int64
 14  Semestre De Referência                        1706 non-null   int64
 15  Data De Registro                              1706 non-null   object
 16  Data De Preenchimento Do Relatório Semestral  1706 non-null   object
 17  Data Da Coleta                                1706 non-null   object
 18  Data Da Análise                               1706 non-null   object
 19  Ponto De Monitoramento                        1706 non-null   object
 20  Grupo De Parâmetros                           1706 non-null   object
 21  Parâmetro                                     1706 non-null   object
 22  Ld                                            751 non-null    object
 23  Lq                                            1515 non-null   object
 24  Resultado                                     1706 non-null   object
 25  Uf                                            1706 non-null   object
 26  Código Ibge                                   1706 non-null   int64
dtypes: float64(4), int64(3), object(20)
memory usage: 373.2+ KB

['Região Geográfica',
 'Regional De Saúde',
 'Município',
 'Tipo Da Instituição',
 'Sigla Da Instituição',
 'Nome Da Instituição',
 'Cnpj Da Instituição',
 'Nome Do Escritório Regional/Local',
 'Cnpj Do Escritório Regional/Local',
 'Tipo Da Forma De Abastecimento',
 'Código Forma De Abastecimento',
 'Nome Da Forma De Abastecimento',
 'Nome Da Eta / Uta',
 'Ano De Referência',
 'Semestre De Referência',
 'Data De Registro',
 'Data De Preenchimento Do Relatório Semestral',
 'Data Da Coleta',
 'Data Da Análise',
 'Ponto De Monitoramento',
 'Grupo De Parâmetros',
 'Parâmetro',
 'Ld',
 'Lq',
 'Resultado',
 'Uf',
 'Código Ibge']

In [13]:
# Filtra Apenas Último Ano
df = df[df['Ano De Referência'] == max(df['Ano De Referência'])].copy()

<br>

# Artigo 32

In [ ]:
set(df['Parâmetro'])

In [16]:
for i, row in df.iterrows():
    a = row['Parâmetro'].split(' - ')
    print(len(a))

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

# Lixos

In [17]:
#df = df[df['Parâmetro'] == 'Escherichia coli'].copy()
df = df[df['Parâmetro'].str.contains('Cloro')].copy()
df.head()

Empty DataFrame
Columns: [Região Geográfica, Regional De Saúde, Município, Tipo Da Instituição, Sigla Da Instituição, Nome Da Instituição, Cnpj Da Instituição, Nome Do Escritório Regional/Local, Cnpj Do Escritório Regional/Local, Tipo Da Forma De Abastecimento, Código Forma De Abastecimento, Nome Da Forma De Abastecimento, Nome Da Eta / Uta, Ano De Referência, Semestre De Referência, Data De Registro, Data De Preenchimento Do Relatório Semestral, Data Da Coleta, Data Da Análise, Ponto De Monitoramento, Grupo De Parâmetros, Parâmetro, Ld, Lq, Resultado, Uf, Código Ibge]
Index: []

[0 rows x 27 columns]

In [18]:
set(df['Ponto De Monitoramento'])

set()

In [18]:
df = df[df['Ponto De Monitoramento'] == 'SAÍDA DO TRATAMENTO'].copy()
df.head()

,Região Geográfica,Regional De Saúde,Município,Tipo Da Instituição,Sigla Da Instituição,Nome Da Instituição,Cnpj Da Instituição,Nome Do Escritório Regional/Local,Cnpj Do Escritório Regional/Local,Tipo Da Forma De Abastecimento,...,Nome Da Eta / Uta,Tipo De Filtração,Ano De Referência,Mês De Referência,Ponto De Monitoramento,Parâmetro,Campo,Valor,Uf,Código Ibge
327619,SUDESTE,GVS XVII - CAMPINAS,AMERICANA,Local,NaN,DEPARTAMENTO DE AGUA E ESGOTO,4.675569e+13,NaN,NaN,SAA,...,ETA,FILTRAÇÃO RÁPIDA,2021,11,SAÍDA DO TRATAMENTO,Cloro Residual Livre (mg/L),Número de amostras analisadas,2436,SP,350160
327620,SUDESTE,GVS XVII - CAMPINAS,AMERICANA,Local,NaN,DEPARTAMENTO DE AGUA E ESGOTO,4.675569e+13,NaN,NaN,SAA,...,ETA,FILTRAÇÃO RÁPIDA,2021,11,SAÍDA DO TRATAMENTO,Cloro Residual Livre (mg/L),"Número de dados > 5,0 mg/L",0,SP,350160
327621,SUDESTE,GVS XVII - CAMPINAS,AMERICANA,Local,NaN,DEPARTAMENTO DE AGUA E ESGOTO,4.675569e+13,NaN,NaN,SAA,...,ETA,FILTRAÇÃO RÁPIDA,2021,11,SAÍDA DO TRATAMENTO,Cloro Residual Livre (mg/L),"Número de dados > 2,0 mg/L e <= 5,0mg/L",223,SP,350160
327622,SUDESTE,GVS XVII - CAMPINAS,AMERICANA,Local,NaN,DEPARTAMENTO DE AGUA E ESGOTO,4.675569e+13,NaN,NaN,SAA,...,ETA,FILTRAÇÃO RÁPIDA,2021,11,SAÍDA DO TRATAMENTO,Cloro Residual Livre (mg/L),"Número de dados >= 0,2 mg/L e <= 2,0mg/L",2213,SP,350160
327623,SUDESTE,GVS XVII - CAMPINAS,AMERICANA,Local,NaN,DEPARTAMENTO DE AGUA E ESGOTO,4.675569e+13,NaN,NaN,SAA,...,ETA,FILTRAÇÃO RÁPIDA,2021,11,SAÍDA DO TRATAMENTO,Cloro Residual Livre (mg/L),"Número de dados < 0,2 mg/L",0,SP,350160

In [19]:
df = df[['Ano De Referência', 'Mês De Referência', 'Campo', 'Valor']].copy()
df = df.sort_values(by=['Ano De Referência', 'Mês De Referência', 'Campo']).copy()
df.head()

,Ano De Referência,Mês De Referência,Campo,Valor
327648,2021,1,Número de amostras analisadas,1483
327652,2021,1,"Número de dados < 0,2 mg/L",0
327650,2021,1,"Número de dados > 2,0 mg/L e <= 5,0mg/L",0
327649,2021,1,"Número de dados > 5,0 mg/L",0
327651,2021,1,"Número de dados >= 0,2 mg/L e <= 2,0mg/L",1483

Americana não tinha amostras no Ponto de captação....

{'SAÍDA DO TRATAMENTO', 'SISTEMA DE DISTRIBUIÇÃO'}

In [23]:
df['Valor'] = df['Valor'].astype(str).str.replace(',','.')
df['Valor'] = df['Valor'].astype(float).fillna(0.0)
df.head()

,Ano De Referência,Mês De Referência,Campo,Valor
327648,2021,1,Número de amostras analisadas,1483.0
327652,2021,1,"Número de dados < 0,2 mg/L",0.0
327650,2021,1,"Número de dados > 2,0 mg/L e <= 5,0mg/L",0.0
327649,2021,1,"Número de dados > 5,0 mg/L",0.0
327651,2021,1,"Número de dados >= 0,2 mg/L e <= 2,0mg/L",1483.0

<br>

Fazer gráfico multidimensional...
Gráfico...