Com o nome do município obtido a partir da tabela com a estimativa da população, foi criada uma pasta que armazenará informações e tabelas exportadas e salva a tabela.

In [2]:
#create_folders('', ['data', 'data/' + gaema + '/' + município])

In [3]:
#out_path = os.path.join('data', gaema, município)
#print(out_path)

A tabela com estimativa da população contem todos os municípios do Brasil. Logo, faz-se encessário filtrar e selecionar apenas o município desejado. Em seguida já é aplicada a função que calcula o número mínimo de amostras mensais de cloro residual livre, bem como o número de amostras anuais.

In [ ]:
# Filtra e cria série
pop = df.loc[ID_Município].drop(['Município', 'Estado'])
df_pop = pd.DataFrame(pop)

# Renomeia Índice
df_pop.index.names = ['Ano']

# Renomeia Colunas
df_pop.rename(columns={ID_Município: 'População'}, inplace=True)

In [14]:
# Cálculos
df['n_amostras_mensais'] = df['n_habitantes'].apply(lambda x: numero_amostras(x))
df['n_amostras_anuais'] = df['n_amostras_mensais']*12
df.head()

     População  Nº Amostras Mensais  Nº Amostras Anuais
Ano
2001    334402                 36.0               432.0
2002    339772                 36.0               432.0
2003    344698                 37.0               444.0
2004    355039                 37.0               444.0
2005    360762                 38.0               456.0
2006    366442                 38.0               456.0
2008    365440                 38.0               456.0
2009    368843                 38.0               456.0
2011    367290                 38.0               456.0
2012    369919                 38.0               456.0
2013    385287                 39.0               468.0
2014    388412                 39.0               468.0
2015    391449                 39.0               468.0
2016    394419                 39.0               468.0
2017    397322                 39.0               468.0
2018    400949                 40.0               480.0
2019    404142                 40.0               480.0

In [10]:
# Insformações com estimativa da população
url = 'https://raw.githubusercontent.com/michelmetran/data_population/master/data/tab_EstimativaPopula%C3%A7%C3%A3o_Ajusted.csv'

# Monta tabela
df = pd.read_csv(url,
                 delimiter=';',
                 decimal=',',
                 index_col=0)

# Define Variáveis
município = df.loc[ID_Município, 'Município']
estado = df.loc[ID_Município, 'Estado']

# Apenas para conferir o município
print(município + ', ' + estado)

# Tabela
#display(df)

Piracicaba, SP

In [15]:
output = os.path.join(out_path, 'tab0_PopulaçãoNumAmostras.csv')
write_results(df_pop, output)